* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;

}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'MyriadRegular';
    src: url('../fonts/MyriadRegular.woff2') format('woff2'),
        url('../fonts/MyriadRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackSemiCn.woff2') format('woff2'),
        url('../fonts/MyriadPro-BlackSemiCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body{
    max-width: 1920px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px){
  body{
    text-align: center;
  }
}


a{
  text-decoration: none;
  color: black;
}

h1{
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-size: 5rem;
  line-height: 2rem;
}


h2{
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  /*font-size: 3.7rem;*/
  font-size: 3.75rem;
  /*line-height: 4.75rem;*/
  line-height: 4.4rem;
  color: #040521;
}

h3{
  font-family: 'Proxima Nova Rg';
  font-size: 2rem;
  line-height: 2rem;
  color: #000;

}

p{
  font-size: 1.25rem;
  line-height: 2rem;

}

.white-heading-h2{
  font-family: 'Proxima Nova Rg';
  font-size: 3.75rem;
  line-height: 4.75rem;
  color: #fff;
}

.white-heading-h3{
  font-family: 'Proxima Nova Rg';
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
}

.black-heading-h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
}


.round-btn{
  background: #4ccf5f;
  border-radius: 30px;
  padding: 22px 60px;
   font-family: 'MyriadRegular';
   transition: 0.4s;
}
.round-btn:hover {
  background: #fff;
  color: #4ccf5f;
  border: 1px #4ccf5f solid;
}

.round-btn:hover a{
  color: #4ccf5f;
}

.square-btn{
  background: #4ccf5f;
  padding:36px 25px!important;
  color: #fff!important;
   font-family: 'MyriadRegular';
   transition: 0.4s;
   opacity: .9;

}

.square-btn a:hover {
  
  color: #040521!important;
}



.square-btn-grey{
  background: #f4f5ff;
  padding:36px 25px!important;
  color: #040521!important;
   font-family: 'MyriadRegular';
   transition: 0.4s;
   opacity: .9;
}

.square-btn-grey a:hover {
  
  color: #4ccf5f!important;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
 
}

.round-button{
  background: #4ccf5f;
  border-radius: 30px;
  padding: 20px 60px;
  color: #fff;
  font-family: 'MyriadRegular';
  transition: 0.4s;
  font-weight: 600;

}

.round-button:hover {
  background: #fff;
  color: #4ccf5f;
  border: 1px #4ccf5f solid;
  transition: 0.4s;
}

.round-button:hover a{
  color: #4ccf5f;
}

.connection-btn{
  background: #fff;
 
  border-radius: 30px;
  padding: 20px 60px;
   font-family: 'MyriadRegular';
   transition: 0.4s;
   font-weight: 600;
}

.connection-btn a{
   color: #4ccf5f!important;
}


.connection-btn:hover{
  background: transparent;
  border: 1px #fff solid;

}

.connection-btn:hover a{
  color: #fff!important;

}

@media only screen and (max-width: 768px){

h1 {
    font-family: 'Proxima Nova Rg';
    font-size: 3.4rem;
    line-height: 50px;
}

h2{
  font-family: 'Proxima Nova Rg';
  font-size: 2.2rem;
  line-height: 2rem;
  margin: 10px 0;
  
}

.round-btn {
   
    color: white;
 
}


}


/*Header Section Start*/

.nav {
 
  width: 100%;
  height: 90px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav  .nav-header {
  display: inline;
  align-items: center;
}



.nav  .nav-header  .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
 /* padding: 10px 10px 10px 10px;*/
  
  font-weight: 600;
}

.nav  .nav-btn {
  display: none;
}

.nav-title a{
  color: #0c1a7d;
  font-family: MyriadRegular;
  font-size: 32px!important;
  transition: 0.4s;
}

.nav-title span{
  color: #4ccf5f;
  
}

.nav  .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  /* float: right; */
  font-size: 18px;
}

.nav  .nav-links  a {
  display: inline-block;
  padding: 13px 21px 13px 21px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #040521;
  transition: 0.4s;
  font-family: 'Proxima Nova Rg';
  opacity: .9;

}

.nav  .nav-links a:hover {
  
  color: #4ccf5f;
  transition: all 0.3s ease-in;
  
}



.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {

  .nav .nav-header .nav-title{
    padding: 10px 10px 10px 10px!important;
  }

  .nav {
 
  width: 100%;
  height: 45px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  display: block;
    justify-content: space-between;
    align-items: center;
}

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav  .nav-btn  label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav  .nav-btn  label:hover,.nav  #nav-check:checked ~ .nav-btn  label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav  .nav-btn  label  span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #4ccf5f;
  }
  .nav  .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 45px;
    left: 0px;
    Sq
  }
  .nav  .nav-links  a {
    display: block;
    width: 100%;
    opacity: .9;

  }
  .nav  #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav  #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .nav-title{
    margin-left: -60px;
    
  }

  .nav-title a {
    color: #0c1a7d;
    font-family: MyriadRegular;
    font-size: 24px!important;
}


}


@media only screen (min-width: 769px) and (max-width: 1365px{
  .nav  .nav-links  a {
    font-size: 14px;
  }

  .nav{
    justify-content: flex-start;
  }

  .nav-title a{
    font-size: 22px;
  }
  }

/*Header Section End*/



/*Hero Section*/
.hero{
  background-image: url(../image/bg1.png);
  background-size: cover;
  width: 100%;
  height: 800px;
}

.content-box{
  padding-top: 250px;
}

.content-box h1{
  color: #fff;
  
}

.content-box h3 {
    color: #fff;
    line-height: 0px!important;
    font-size: 31px!important;
    margin-top: 55px;
    font-weight: 500;
    font-family: Proxima Nova Rg;
}

.content-box p {
    font-size: 24px;
    color: #fff;
    margin: 40px 0 80px 0;
    font-family: MyriadRegular;
}
/*
.content-box h3{
  color: #fff;
  line-height: 120px;
  font-weight: 400;
}

.content-box p{
  
  font-size: 24px;
  color: #fff;
  margin-bottom: 50px;
  

}*/

.content-box a{
   color: #fff;
}


@media only screen and (max-width: 768px){
  .hero{
    height: auto;
  }

  .content-box {
    padding: 50px 0;
    margin: 0 20px;
}

.content-box h3 {
    color: #fff;
    line-height: 20px!important;
    font-size: 18px!important;
    margin-top: 15px!important;
}

.content-box p {
    font-size: 16px;
    color: #fff;
    margin: 30px 0;
}

.round-btn {
    background: #4ccf5f;
    border-radius: 30px;
    padding: 10px 30px;
    transition: 0.4s;
    font-weight: 600;
}

}

/*End Hero Section*/


/*Make-an-impact-section-start*/


  .Make-impact{
    width: 100%;
    height: auto;
    background-image: url(../image/b21.png);
    background-size: cover;
    padding: 150px 0;
  }

  .Make-impact-content{
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .make-impact-image{
    margin-left: -125px;
    margin-top: 45px;
  }


  .Make-impact-content-box{
    /*margin-left: -70px!important;*/
    position: absolute;
    padding-left: 1370px;
    /*margin-top: -40px;*/
    
  }
.Make-impact-content-box h2{
  width: 675px;
}
  .Make-impact-content-box h3{
    font-size: 22px;
    line-height: 32px;
  /*  padding: 10px 0;*/
    color: #040521;
    text-transform: uppercase;
    font-weight: 500;
    /*font-family: Myriad Pro;*/
  }

  .Make-impact-content-box p{
    font-size: 20px;
    line-height: 31px;
    margin: 25px 0;
    font-family: MyriadRegular;
    color: #040521;

  }

   .Make-impact-content-box span {
    
    padding-top:20px;
  }

     .Make-impact-content-box span a{
      color: #fff;
     }

     .Make-impact-mobile{
      display: none;

     }


@media only screen and (max-width: 768px){

  .Make-impact-mobile{
      display: block;

     }

  .mobile-impact{
    display: flex;
    flex-direction: column;
    background-color: #F1F2FF;
  }

  .make-impact-img img{
        width: -webkit-fill-available;;
    height: auto;
  }
     
     .Make-impact {
      display: none;
   
}

.Make-impact-content-box-mobile {
    
    padding: 30px 0;
    margin: 0 20px;

}

.Make-impact-content-box-mobile h2 {
    font-family: 'Proxima Nova Rg';
    font-size: 2.2rem;
     line-height: 50px; 
    color: #040521;
}

.Make-impact-content-box-mobile h3 {
  
    font-size: 20px;
}

.Make-impact-content-box-mobile p {
    font-size: 16px;
    margin-bottom: 10px;
}


}

@media (min-width:769px) and (max-width:1764px) {
/*.Make-impact-content-box {
    padding-left: 930px;
    padding-top: 134px;
}*/

.Make-impact {
   
    background-position: center;
}

/*.Make-impact-content-box h2 {  
    font-size: 2.75rem;
    line-height: 4.75rem;
}*/

}


  

/*End-Make-an-impact-section-start*/



/*Make-connection start*/

.make-connection{
  width: 100%;
  height: 580px;
  background-image: url(../image/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.make-connection-content-box{
  padding-top: 150px;
}


.make-connection-content-box h4{
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.make-connection-content-box h2{
  margin:0px 0 70px 0;
}

@media only screen and (max-width: 768px){
  .make-connection{
  width: 100%;
  height: auto;
  background-image: url(../image/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 20px!important;
}

.make-connection-content-box {
    padding: 20px 0!important;
}


.make-connection-content-box h4{
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-transform: uppercase;
}

.make-connection-content-box h2{
 font-family: 'Proxima Nova Rg';
    font-size: 1.60rem;
     line-height: 50px; 
    color: #040521;

}


}


/*End Make connection*/




.client-section{
  width: 100%;
  height: auto;
 padding: 60px 0 60px 0;
 background-image: url(../image/b51.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.client-head{
  text-align: center;
  margin-top: 60px;

}

 .client-head h4{
  font-size: 22px;
  padding: 0px 0 10px 0!important;
  text-transform: uppercase;
  color: #040521;
  opacity: 0.7;

}

.customer-logos{
  padding: 100px 100px 100px 100px;
}




@media only screen and (max-width: 768px){

.customer-logos {
    margin: 0 auto;
    padding: 50px 50px 50px 50px;
}

.client-head h4{
  padding: 0px 0 20px 0!important;
  text-transform: uppercase;

}

.client-head h2{
  font-size: 1.60rem;
  padding: 0 10px;
  line-height: 2.75rem;

}

.client-section {
    width: 100%;
    height: auto;
    padding: 30px 0;
}

.slick-slide img {
    width: 100%;
}


}



/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 70%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*End SLider section*/




/*Event Start*/

.event-section{
  background: url(../image/b42.png);
  width: 100%;
/*  height: 1070px;*/
/*height: 990px;*/
height: auto;
padding: 160px 0;
}

ul.tabs {
  /*padding-top: 160px;*/
  /*padding-bottom: 50px;*/
  /*float: left;*/
  display: flex;
  justify-content: center;
  list-style: none;
/*  height: 32px;*/
  /*border-bottom: 1px solid #333;*/
  width: 100%;
}

.tablet2{
  margin: 0 15px!important;
}

ul.tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 18px 30px;
  /*height: 31px;*/
 /* line-height: 31px;*/
  border-radius: 30px;
  color: #000;
  overflow: hidden;
  position: relative;
  font-size: 22px;
  font-family: 'Proxima Nova Rg';
}



ul.tabs li:hover {
  
  color: #333;
}

ul.tabs li.active {
  background-color: #fff;
  color: #4ccf5f;
  border: 3px solid #4ccf5f;
  display: block;
}

.tab_container {

  border-top: none;
  width: 100%;
  background: #fff;
 /* overflow: auto;*/
}

.tab_content {
  /*padding: 20px;*/
  display: none;
}

.event-head{
  text-align: center;
  margin: 60px 0;
  font-family: 'Source Sans Pro', sans-serif
}


.event-head p{
  
  font-family: 'Source Sans Pro', sans-serif
}

.tab_drawer_heading { display: none; }




@media screen and (max-width: 480px) {

  .event-section{
    padding: 60px 0;
  }


.event-head {
   
    margin: 20px 0;  
}
 
ul.tabs li{
  font-size: 18px;
  padding: 13px 15px;
}
  .tabs {
    display: none;
  }
  .tab_drawer_heading {
    background-color: #ccc;
    color: #fff;
    border-top: 1px solid #333;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .d_active {
    background-color: #666;
    color: #fff;
  }

  .event-section {
    width: 100%;
    height: auto;
    
}

.event-box h3 {
    font-size: 18px!important;
    line-height: 44px;
    font-weight: 400px !important;

}

.event-box{
  padding: 10px!important;
}

.para p {
    font-family: MyriadRegular;
    margin: 20px 0;
    font-size: 18px;
}

} 


/*
.events{
  padding: 30px;
}*/

.event-box{
  /*display: block;
  width: 450px!important;
  height: 315px;*/
  background-color: #f1f2ff;
  box-sizing: content-box;
  padding: 30px;
  border-radius: 30px;


}

.event-box:hover {
  background-color: #0c1a7d;
  
}

.event-box:hover h3{
  color: white; 
}


.event-box img{
width:64px;
height: 64px;
margin: 10px 0;
}

.event-box h3{
    font-size: 32px;
    line-height: 44px;
    font-weight: 400px !important;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.para p{
  font-family: MyriadRegular;
  margin: 40px 0;
}


.copyright{
  width: 100%;
  height: 80px;
  text-align: center;
  color: white;
  background-color: #0c1a7d;
  font-size: 16px;
  padding: 33px;
   font-family: 'Source Sans Pro', sans-serif
}


.history-tl-container{
    font-family: "Roboto",sans-serif;
  width:50%;
  margin:auto;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #86D6FF;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
  width:100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}




/*Footer Start*/



.footer-2{
  background-image: url(../image/footer-bg.png)!important;
  background-size: 100% 200vh;
  background-repeat: no-repeat;
}

.footer-container {
    display: flex;
    padding-top: 97px;
    padding-bottom: 89px;
}

.footer-list {
    display: flex;
    margin-left: 106px;
    margin-right: 114px;
    margin-top: -10px;
}

.footer-list-content2 {
    margin-left: 98px;
}

.footer-form {
    max-width: 394px;
    width: 100%;
    margin-top: -3px;
}

form#footer-form-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#footer-input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 15px 0px;
    width: 85%;
}

.footer-form input {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Source Sans Pro";
}

.footer-form {
    max-width: 394px;
    width: 100%;
    margin-top: -3px;
}

.footer-form p {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #fff!important;
}

#footer-home:hover {
    color: white;
    transition: 0.6s ease;
}

#footer-home {
    color: #4ccf5f;
}

.footer-list-content1 li a:hover {
    color: #4ccf5f;
    transition: 0.6s ease;
}

.footer-list-content1 li a, .footer-list-content2 li a {
    color: white;
    line-height: 36px;
}

ul li{
  list-style: none;
}


.styled {
    border: 0;
    padding: 13px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    margin-top: 15px;
   
    border-radius: 10px;
    background-color: #4ccf5f;
    }

.styled:hover {
    background-color: #fff;
    color: #4ccf5f;
    
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#subscribe {
    color: #4ccf5f;
}


@media only screen and (max-width: 768px){

 .footer-container{
  display: flex;
  flex-direction: column;
 }

.footer-img img{
  width: 290px;
}

.footer-list-content2,.footer-list-content1{
  margin: 0;
}

.footer-list{
  display: block;
}

form#footer-form-content{
  display: block;
}

}


@media only screen and (max-width: 940px){
#footer-input {
    width: 80%;
}

.footer-form{
  margin: 0 auto;
}
}


/*End Footer section*/

